<div id="static">
	<h1>Welcome to Job Walker</h1>

	<div class="left-side">
		<div class="col-md-6">
			<form>
				<h3>Search Job</h3>
				<input type="text" name="search">
			</form>

			<form>
				<h4>Search Location</h4>
				<input type="text" name="location">
			</form>
		</div>
	</div> <!-- end left-side -->

	<div class="right-side">
		<div class="col-md-6">
			<div id="googleMap"></div>
		</div>
	</div> <!-- end right-side -->
	
</div> <!-- end static -->